<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Settings</h1>
        <a asp-action="AddEditTOS" class="btn btn-sm btn-primary"
           style="font-weight: bold; font-size: 16px;">
            Create/Edit
            Terms of Service
        </a>
        <a asp-action="Create" class="btn btn-sm btn-primary" style="font-weight: bold; font-size: 16px;">
            Create New
            Setting
        </a>
    </div>
    <div class="col-md-12 text-center">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Setting List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table style="text-align: center;" class="table table-bordered" id="dataTable" width="100%"
                       cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Key</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model?.Items)
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Type</td>
                                <td>
                                    <a asp-action="Update" asp-controller="Setting" asp-route-id="@item.Id"
                                       asp-route-pageIndex="@Model.PageIndex" class="btn btn-sm btn-warning">Update</a>

                                    @if (item.IsDeleted)
                                    {
                                        <a asp-action="Recover" asp-controller="Setting" asp-route-id="@item.Id"
                                           asp-route-pageIndex="@Model.PageIndex"
                                           class="btn btn-sm btn-success recover-button">Recover</a>
                                        <a asp-action="Remove" asp-controller="Setting" asp-route-id="@item.Id"
                                           asp-route-pageIndex="@Model.PageIndex"
                                           class="btn btn-sm btn-danger delete-button">Remove</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Delete" asp-controller="Setting" asp-route-id="@item.Id"
                                           asp-route-pageIndex="@Model.PageIndex"
                                           class="btn btn-sm btn-danger delete-button">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- Pagination Logic Here -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Include SweetAlert2 and your custom JS file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/sweetAlert.js"></script>
